body { 
    background: rgb(10, 9, 9);
    font: normal 15 pt-arial;
    color: rgb(209, 12, 12);
    text-align: center;
}


section {
   
    
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(209, 12, 12, 0.87);
    margin: auto;
    height:400px;
    width: 500px;  

}

footer{
    color: rgb(209, 12, 12);
    text-align: center;
}

#src{ 
    border-radius: 100px;

}

